enable_bastion = true
external_apiserver_address = 1.2.3.4
bastion_nodes = [{
  name = "bs0"
  ip   = "127.0.0.1"
  ansible_host   = "127.0.0.1"
}]
controlplane_nodes = [{
  name = "cp0"
  ip   = "127.0.0.1"
  ansible_host   = "127.0.0.1"
}]
worker_nodes = [{
  name = "wk0"
  ip   = "127.0.0.1"
  ansible_host   = "127.0.0.1"
}]
ssh_user = "ubuntu"
