enable_bastion = true
bastion_nodes = [{
  name = "bs0"
  ip   = "127.0.0.1"
}]
controlplane_nodes = [{
  name = "cp0"
  ip   = "127.0.0.1"
}]
worker_nodes = [{
  name = "wk0"
  ip   = "127.0.0.1"
}]
ssh_user = "ubuntu"
